defaults:
  - default_dataset.yaml

exp_name: exp001
img_size: 518
num_workers: 8
seed_value: 42
accum_steps: 1
patch_size: 14
val_epoch_freq: 5
max_img_per_gpu: 48

limit_train_batches: 800
limit_val_batches: 400

data:
  train:
    _target_: training.data.dynamic_dataloader.DynamicJaxDataset
    num_workers: ${num_workers}
    max_img_per_gpu: ${max_img_per_gpu}
    shuffle: true
    common_config:
      fix_img_num: -1
      fix_aspect_ratio: 1.0
      load_track: false
      track_num: 1024
      training: true
      inside_random: true
      img_size: ${img_size}
      patch_size: ${patch_size}
      rescale: true
      rescale_aug: true
      landscape_check: false
      debug: false
      get_nearby: true
      load_depth: true
      img_nums: [2, 24]
      allow_duplicate_img: true
      repeat_batch: false
      augs:
        cojitter: true
        cojitter_ratio: 0.3
        scales: [0.8, 1.2]
        aspects: [0.33, 1.0]
        color_jitter:
          brightness: 0.5
          contrast: 0.5
          saturation: 0.5
          hue: 0.1
          p: 0.9
        gray_scale: true
        gau_blur: false
    dataset:
      _target_: training.data.composed_dataset.ComposedDataset
      dataset_configs:
        - _target_: training.data.datasets.co3d.Co3dDataset
          split: train
          CO3D_DIR: /YOUR/PATH/TO/CO3D
          CO3D_ANNOTATION_DIR: /YOUR/PATH/TO/CO3D_ANNOTATION

  val:
    _target_: training.data.dynamic_dataloader.DynamicJaxDataset
    num_workers: ${num_workers}
    max_img_per_gpu: ${max_img_per_gpu}
    shuffle: true
    common_config:
      fix_img_num: -1
      fix_aspect_ratio: 1.0
      load_track: false
      track_num: 1024
      training: false
      inside_random: true
      img_size: ${img_size}
      patch_size: ${patch_size}
      rescale: true
      rescale_aug: false
      landscape_check: false
      debug: false
      get_nearby: true
      load_depth: true
      img_nums: [2, 12]
      allow_duplicate_img: true
      repeat_batch: false
      augs:
        cojitter: false
        cojitter_ratio: 0.5
        scales: null
        aspects: [1.0, 1.0]
        color_jitter: null
        gray_scale: false
        gau_blur: false
    dataset:
      _target_: training.data.composed_dataset.ComposedDataset
      dataset_configs:
        - _target_: training.data.datasets.co3d.Co3dDataset
          split: test
          CO3D_DIR: /YOUR/PATH/TO/CO3D
          CO3D_ANNOTATION_DIR: /YOUR/PATH/TO/CO3D_ANNOTATION

logging:
  log_dir: logs/${exp_name}
  log_visuals: false
  log_freq: 1
  log_level_primary: INFO
  log_level_secondary: WARNING
  all_ranks: false
  tensorboard_writer:
    _target_: training.train_utils.tb_writer.TensorBoardLogger
    path: ${logging.log_dir}/tensorboard
  scalar_keys_to_log:
    train:
      keys_to_log:
        - objective
        - loss_camera
        - loss_T
        - loss_R
        - loss_FL
        - loss_conf_depth
        - loss_reg_depth
        - loss_grad_depth
        - loss_conf_point
        - loss_reg_point
        - loss_grad_point
    val:
      keys_to_log:
        - objective
        - loss_camera
        - loss_T
        - loss_R
        - loss_FL
        - loss_conf_depth
        - loss_reg_depth
        - loss_grad_depth
        - loss_conf_point
        - loss_reg_point
        - loss_grad_point

checkpoint:
  save_dir: logs/${exp_name}/ckpts
  save_freq: 5
  resume_checkpoint_path: null
  strict: false

loss:
  _target_: training.loss.MultitaskLoss
  camera:
    weight: 5.0
    loss_type: l1
  depth:
    weight: 1.0
    gradient_loss_fn: grad
    valid_range: 0.98
  point: null
  track: null

optim:
  lr: 5e-5
  weight_decay: 0.05
  optimizer:
    lr: 5e-5
    weight_decay: 0.05
  frozen_module_names:
    - "*aggregator*"
  gradient_clip:
    _target_: training.train_utils.gradient_clip.GradientClipper
    max_norm: 1.0

max_epochs: 20

model:
  _target_: vggt.models.vggt.VGGT
  enable_camera: true
  enable_depth: true
  enable_point: false
  enable_track: false

distributed: {}
cuda: {}
